@import url("https://use.typekit.net/eyc5vpt.css");

body{
  background-color: #e1e1e1;
  margin: 0;
}

#contentContainer{
  display: flex;
  margin-top: 0.5%;
}

#mapid{
  height: 575px;
  width: 49vw;
  margin-left: 0.5%;
  z-index: 1;
}

#mapid{
  height: 525px;
  width: 49vw;
  z-index: 1;
}

#legend{
  width: 49vw;
  height: 50px;
  margin-left: 0.5%;
  box-sizing: border-box;
}

#legendText{
  height: 30px;
  width: 100%;
  padding: 7px 5px 5px 10px;
  box-sizing: border-box;
  background-color: white;
  font-family: ff-more-web-pro, serif;
  font-style: italic;
  font-size: .875rem;
  border-top: #7e7e7e 3px solid;
}

#colorBar{
  width: 100%;
  height: 20px;
  background-image: linear-gradient(to right, #b3ecf4, #1f8184);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 10px;
}

.barText{
  font-family: ff-more-web-pro, serif;
  font-style: italic;
  font-size: .7vw;
}

#barText1{
  color: #7e7e7e;
}

#barText2{
  color: #e1e1e1;
}

#barFiller{
  width: 35vw;
}

#drawitContainer{
  height: 575px;
  width: 49vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  /*margin-left: 1vw;*/
  box-sizing: border-box;
}

h2{
  font-family: trade-gothic-next-compressed, sans-serif;
  margin: 0;
  font-size: 1.3rem;
}

.introText{
  font-family: ff-more-web-pro, serif;
  margin: 0;
  margin-bottom: 10px;
  font-style: italic;
  font-size: .875rem;
}

#drawit{
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  width: 575px;
  height: 450px;
  border: 3px #e1e1e1 solid;
  /*background-color: white;
  margin-left: 1vw;*/
}

iframe{
  border: none;
  transform: scale(.8 5);
}

.detailsText{
  font-family: ff-more-web-pro, serif;
  font-size: .875vw;
}

.leaflet-tooltip{
  color: black;
  font-size: 1.25rem;
  font-family: trade-gothic-next-condensed, sans-serif;
  -webkit-text-stroke: 1px white;
  background-color: rgba(255,255,255,0);
  box-shadow: none;
  border: none;
}

#caption{
  font-family: ff-more-web-pro, serif;
  background-color: white;
  box-sizing: border-box;
  padding: 5px 10px;
  margin: 15px 1vw;
}

#filler{
  height: 500px;
  background-color: #e1e1e1;
}

@media only screen and (max-width: 1242px) {
  h2{
    font-size: 1.8vw;
  }

  .introText{
    font-size: 1.1vw;
  }
}
